<!doctype html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <script src="jquery-3.3.1.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">

    <link rel="stylesheet" href="layout.css">
    <style type="text/css">
        body,
        html {
            height: 100%;
        }

        #header {
            background-color: black;
            height: 50px;
            width: 100%;
            border-radius: 4px;
        }


        #name {

            color: white;
            font-family: "Roboto", sans-serif;
            padding: 15px;
        }

        #content {
            width: 75%px;
            height: 100%;
            display: flex;
            flex-direction: column;
            margin: 0 auto;

            padding: 10px;
            box-sizing: border-box;

        }

        .content {
            width: 600px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
        }

        #info {
            font-family: "Roboto", sans-serif;
            font-weight: bold;
            color: white;
            align-self: flex-start;
            /* margin: 10px;*/
        }

        #tags {
            font-family: "Roboto", sans-serif;
            font-style: italic;
            font-size: 1px;
            color: darkgray;
            margin: 5px;
            align-self: flex-start;
        }

        #meme {
            max-width: 600px;
            padding-bottom: 10px;
        }


        #description {
            font-family: "Roboto", sans-serif;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        #tag {
            background-color: cadetblue;
            color: white;
            border-radius: 8px;
            border: none;
            text-decoration: none;
            padding: 5px 7px;
            font-size: 15px;
            margin-top: 5px;
            margin-right: 5px;
            cursor: pointer;
            

        }

        #tag_btn {
            padding-bottom: 90px;
            padding-top: 10px;
            width: 100%;
            align-self: flex-start;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .modal {
            color: black;
        }

        .meme-title {
            font-family: "Roboto", sans-serif;
            font-weight: bold;
            font-size: 40px;
            align-self: flex-start;
            /* margin: 10px;*/
        }


        .top {
            width: 75%;
            display: flex;
            justify-content: space-between;
            align-self: flex-start;
        }
        
        
        div.meme-visibility {
          display: flex;
          align-self: center;
          align-items: flex-end;
        }

        div.meme-visibility > img {
          height: 40px;
          width: 40px;
        }

        div.meme-visibility-tooltip {
          display: none;
          margin: 0 5px;
          font-size: 15px;
          /*background-color: rgba(255,255,255,0.4);*/
            background-color: lightgray;
          padding: 5px;
          color: black;
          border-radius: 10px;
          text-align: center;
        }

        div.meme-visibility:hover div.meme-visibility-tooltip {
          display: block;
        }
        
        #post_edit {
            margin-top: 40px;
            margin-bottom: 40px;

        }

        #edit_btn {
            border: none;
            margin: 5px;
            padding: 8px 20px;
            font-size: 15px;
            background-color: #50c686;
            font-weight: bold;
            font-family: Roboto, sans-serif;
            border-radius: 8px;
            color: white;
            cursor: pointer;
            margin-right: 3%;
        }

        #delete_btn {
            border: none;
            margin: 5px;
            padding: 8px 20px;
            font-size: 15px;
            background-color: #ed8964;
            font-weight: bold;
            font-family: Roboto, sans-serif;
            border-radius: 8px;
            color: white;
            cursor: pointer;
            margin-left: 3%;
        }

    </style>


</head>

<body>

  {{> topbar this}}

  {{> search this}}

    <div id="content">
        <div class="content">
            <div style="align-self: flex-start"id="top">
                <div id="info" class="meme-title"><!--{{meme-title}}-->we love u miss</div>
                
                {{#if visibility}}
                    <div class="meme-visibility">
                      <div class="meme-visibility-tooltip">
                        Private
                      </div>
                      <img src="lock.png">
                    </div>
                {{/if}}
            </div>

            <img id="meme" src={{meme_image}}>

            <a style="cursor: pointer; color: dimgray" href={{owner_page}} id="info">By me{{owner_name}}</a>

            <a id="description" style="color:#b9b4b4;">{{description}} </a>

  

            <div id="tag_btn">
                <!--
                <input id="btn" type="button" value="#BestProfEver">
                <input id="btn" type="button" value="#HaveMercyPls">
                -->
                
                {{#each tags}}
                    <input id="tag" type="button" style="align-self: flex-start" value = "#{{tag_name}}">
                {{/each}}
            </div>
            
        </div>
        
    </div>




</body>

<script>
    $(document).ready(() => {
        $("#lButton").click(() => {
            if ($('#lUser').val() != "" && ($('#lPassword')).val() != "") {
                $('#loginModal .close').click();
                alert("successfully entered your Account");
                /* $('#lUser').val('');
                 $('#lPassword').val('');*/
                /* window.location.href = "homepage.html"*/
            } else if ($('#lUser').val() === "") {
                alert("please enter your username")
            } else {
                alert("please enter your Password")
            }
        })

        $("#sButton").click(() => {
            if ($('#sUser').val() != "" && ($('#sPassword')).val() != "") {

                $('#loginModal .close').click();
                $("#signUpModal .close").click();
                alert("successfully entered your Account");
                /*  $('#sUser').val('');
                  $('#sPassword').val('');*/
            } else if ($('#sUser').val() === "") {
                alert("please enter your username")
            } else {
                alert("please enter your Password")
            }
        })


    })

</script>

</html>
